<nav class="navbar fixed-top navbar-expand-lg bg-secondary px-5 py-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">Navbar scroll</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarScroll"
      aria-controls="navbarScroll"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul
        class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
        style="--bs-scroll-height: 100px"
      >
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="javascript:void(0)"
            (click)="app.modal = true"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Link</a>
        </li>
      </ul>

      <button
        type="button"
        class="btn btn-primary position-relative"
        (click)="app.offcanvas = true"
      >
        Cart
        <span
          *ngIf="app.cartCount > 0"
          class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
        >
          <!-- {{ formatNum(app.cartSubtotal / 100) }} -->
          {{ app.cartCount }}
          <span class="visually-hidden">unread messages</span>
        </span>
      </button>
    </div>
  </div>
</nav>
