.header-card {
  user-select: none;
  display: flex;
  justify-content: space-between;

  .btn-close {
    width: 5px;
    height: 5px;
    cursor: pointer;
  }

  .name {
    color: #0a58ca;
    font-weight: bold;
  }
}
