<div class="nav-scroller bg-body shadow-sm">
  <nav class="nav" aria-label="Secondary navigation">
    <a class="nav-link" href="javascript:void(0)">Dashboard</a>
    <a class="nav-link" href="javascript:void(0)">
      Diversos
      <span class="badge text-bg-primary rounded-pill align-text-bottom"
        >27</span
      >
    </a>
    <a class="nav-link" href="javascript:void(0)">Explore</a>
    <a class="nav-link" href="javascript:void(0)">Suggestions</a>
    <a class="nav-link" href="javascript:void(0)">Link 1</a>
    <a class="nav-link" href="javascript:void(0)">Link 2</a>
    <a class="nav-link" href="javascript:void(0)">Link 3</a>
    <a class="nav-link" href="javascript:void(0)">Link 4</a>
    <a class="nav-link" href="javascript:void(0)">Link 5</a>
  </nav>
</div>
