<app-navbar></app-navbar>
<app-menu-categories></app-menu-categories>

<main>
  <!-- <div>
    <div class="btn btn-primary" (click)="toggle()">Toggle</div>

    <div *ngIf="app.state" class="div-loader">
      <span class="loader"></span>
    </div>
  </div> -->

  <div class="d-flex wrap gap-4">
    <app-product
      *ngFor="let product of products"
      [product]="product"
    ></app-product>
  </div>

  <router-outlet></router-outlet>
</main>

<app-modal></app-modal>
<app-offcanvas></app-offcanvas>
