<div
  class="offcanvas offcanvas-end"
  [ngClass]="{
    show: app.offcanvas
  }"
  role="dialog"
  data-bs-backdrop="static"
  tabindex="-1"
>
  <div class="offcanvas-header header">
    <h5 class="offcanvas-title" (click)="getHolder()">Carrinho</h5>
    <span class="btn-close" (click)="app.offcanvas = false"></span>
  </div>
  <div class="offcanvas-body body">
    <app-product-cart
      *ngFor="let product of app.getCart()"
      [product]="product"
    ></app-product-cart>
    <!-- <div>{{ holder | json }}</div> -->
    <div class="alert alert-warning" *ngIf="app.cartCount <= 0">
      Nenhum produto adicionado no carrinho
    </div>
  </div>
  <div class="footer">
    <button
      *ngIf="app.cartCount > 0"
      type="button"
      class="btn btn-primary btn-clean"
      (click)="app.cleanCart()"
    >
      Limpar Carrinho
    </button>
    <p>SubTotal:</p>
    <small>R$ {{ price(app.cartSubtotal / 100) }}</small>
  </div>
</div>
<div
  *ngIf="app.offcanvas"
  class="offcanvas-backdrop fade show"
  (click)="app.offcanvas = false"
></div>
